// Component level styles
$panel-background: #262626;
$button-shadow: #292929;
$button-clear-color: #9c9c9c;
$button-operator-color: #ee8a35;
$button-number-color: #e9e9e9;
$button-fonts: 'Roboto', sans-serif;

.button-panel {
    width: 300px;
    padding: 10px 6px;
    box-sizing: border-box;
    position: relative;
    font-weight: 300;

    .button {
        position: relative;
        display: inline-block;
        margin: 6px;
        background-color: #262626;
        border: none;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3), 
                    0px 0px 1px rgba(255, 255, 255, 0.7);

        height: 60px;
        width: 60px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;

        font-size: 24px;
        font-family: $button-fonts;
        font-weight: 300;

        &.zero {
            width: 132px;
            border-radius: 30px;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4),
                        0px 0px 1px rgba(255, 255, 255, 0.6);
        }

        &:hover {
            background-color: rgb(88, 82, 82);
        }

        &:active {
            // box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
        }

        &.clear {
            background-color: $button-clear-color;
        }

        &.clear-all {
            background-color: rgb(195, 71, 71);
        }

        &.operator {
            color: $button-operator-color;
        }

        &.number {
            color: $button-number-color;
        }
    }


}