// Component level variables
$button-fonts: 'Roboto', sans-serif;
$button-operator-color: #ee8a35;
$button-number-color: #e9e9e9;
$button-clear-color: #9c9c9c;

.display-box {
    height: 200px;
    font-family: $button-fonts;
    position: relative;
    box-sizing: border-box;
    font-weight: 300;

    .header {
        position: absolute;
        font-size: 14px;
        color: $button-clear-color;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .display-content {
        position: absolute;
        padding: 0 12px;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;

        .formula {
            position: relative;
            color: $button-operator-color;
            font-size: 22px;
            text-align: right;
            max-width: 276px;
            max-height: 50px;
            word-break: break-all;
            overflow-y: auto;
        }
    
        .result {
            position: relative;
            font-size: 48px;
            color: $button-clear-color;
            word-wrap: normal;
            text-align: right;
            bottom: 0px;
            max-width: 276px;
            max-height: 114px;
            word-break: break-all;
            overflow-y: auto;
        }
    }

    
}

